/*header*/

.title{
  font-size:30px;
  margin:0 0 -15px 0;
}

header{
  margin:0px 20px 20px
}

#search-text{
  width:940px;
  height:25px;
}

/*header*/

/*main*/
.upper-image{
  display:flex; 
}

.under-image{
  display:flex; 
}

.image-content{
  border:1px solid #dcdcdc;
  padding:15px;
  margin:0 30px 30px;
}

.image-content > img{
  width:400px;
  height:250px;
}

/*main*/




